* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-feature-settings: "tnum" on, "lnum" on;
  -webkit-font-smoothing: antialiased;
  color: #2f313f;
  font-size: 16px;
  font-weight: 400;
}

.bd:after {
  background-color: initial;
  content: "";
  left: 0;
  opacity: 0;
  top: 0;
}

.darker {
  height: 100vh;
  overflow: hidden !important;
  padding-right: 17px;
}
.darker:after {
  background-color: rgba(47, 49, 63, 0.48);
  content: "";
  opacity: 1;
  position: absolute;
  transition: background-color 0.2s ease-in;
  width: 100%;
  height: 100%;
  right: 0px;
}

nav {
  background-color: white;
  z-index: 999;
  direction: ltr;
  position: relative;
}
nav .nav-top {
  background-color: #f9fafb;
}
nav .nav-top .nav-content {
  padding-bottom: 12px;
  padding-top: 12px;
  justify-content: space-between;
  display: flex;
  max-width: 1184px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-inline: auto;
}
nav .nav-top .nav-content .logo {
  display: flex;
}
nav .nav-top .nav-content .logo p {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 700;
}
nav .nav-top .nav-content .links {
  display: flex;
  align-items: center;
}
nav .nav-top .nav-content .links a {
  font-weight: 700;
  line-height: 18px;
  font-size: 14px;
  margin-left: 24px;
  color: #249e64;
  text-decoration: none;
}
nav .nav-top .nav-content .links p {
  line-height: 18px;
  font-size: 14px;
  color: #747a82;
}
nav .nav-bottom {
  display: flex;
  padding-inline: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 1184px;
  margin-inline: auto;
}
nav .nav-bottom .logo {
  margin-top: 10px;
  margin-right: 10px;
}
nav .nav-bottom ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav .nav-bottom ul .drop {
  position: absolute;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
  z-index: 100;
  box-shadow: 0 4px 6px -1px rgba(26, 27, 35, 0.1), 0 2px 4px -1px rgba(26, 27, 35, 0.06);
  max-height: 0px;
  transition: all 0.3s ease-in;
  width: 378px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  left: 0;
  top: 50px;
  overflow: hidden;
}
nav .nav-bottom ul .drop a .drop-item {
  line-height: 24px;
  font-size: 16px;
  padding: 12px;
  background-color: initial;
  border-radius: 8px;
  overflow: hidden;
}
nav .nav-bottom ul .drop a .drop-item:hover {
  background-color: #f4f4f6;
}
nav .nav-bottom ul .drop a .drop-item p:first-of-type {
  font-weight: 700;
}
nav .nav-bottom ul .drop a .drop-item p:last-of-type {
  line-height: 20px;
  font-size: 14px;
  color: #747a82;
  font-weight: 400;
}
nav .nav-bottom ul .active-drop {
  max-height: 800px;
  padding: 8px;
}
nav .nav-bottom ul .link {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 28px;
  position: relative;
  line-height: 24px;
  font-size: 16px;
  margin-right: 8px;
  border-radius: 8px;
  cursor: pointer;
}
nav .nav-bottom ul .link:hover {
  background-color: #f4f4f6;
}
nav .nav-bottom ul .link:after {
  border: solid #a9abb9;
  border-width: 0 2px 2px 0;
  bottom: auto;
  content: "";
  padding: 4px;
  position: absolute;
  right: 11.175px;
  top: 18.345px;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}
nav .nav-bottom ul li:nth-child(4) {
  padding-right: 20px;
  margin-right: 0px;
}
nav .nav-bottom ul li:nth-child(4):after {
  display: none;
}
nav .nav-bottom ul .active-link {
  background-color: #f4f4f6;
}
nav .nav-bottom ul .active-link:after {
  border: solid #a9abb9;
  border-width: 0 2px 2px 0;
  bottom: auto;
  content: "";
  padding: 4px;
  position: absolute;
  right: 11.175px;
  top: 20.345px;
  transform: rotate(-135deg);
  transition: all 0.5s ease-in-out;
}

main .hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.35) 100%), url("/src/hero.jpg");
  width: 100%;
  height: 70vh;
  min-height: 500px;
  background-size: cover;
  color: white;
  padding: 20px;
  display: flex;
}
main .hero .hero-container {
  width: 1184px;
  margin-inline: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
main .hero .hero-container .hero-text {
  width: 600px;
}
main .hero .hero-container .hero-text h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin-bottom: 2rem;
}
main .hero .hero-container .hero-text p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
main .hero .hero-container .hero-text .hero-button {
  background-color: #32bb78;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 2rem;
  color: white;
  height: 3rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.15s;
}
main .hero .hero-container .hero-text .hero-button:hover {
  background-color: #1d965c;
}
main .container-1 {
  max-width: 1184px;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  margin-inline: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
main .container-1 h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
main .container-2 {
  max-width: 1184px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-inline: auto;
}
main .container-2 h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  text-align: center;
  margin-bottom: 3rem;
}
main .container-2 .box-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
main .container-2 .box-grid .grid-item {
  padding: 1.5rem;
  border-radius: 1rem;
  transition-duration: 0.2s;
  text-align: left;
  background-color: rgba(6, 26, 55, 0.039);
  min-height: 180px;
  position: relative;
  z-index: 50;
  overflow: hidden;
  cursor: pointer;
  transition: all ease 0.2s;
}
main .container-2 .box-grid .grid-item:hover {
  transform: scale(1.02);
}
main .container-2 .box-grid .grid-item .item-text {
  padding-right: 6.5rem;
}
main .container-2 .box-grid .grid-item .item-text h5 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
main .container-2 .box-grid .grid-item .item-text p {
  color: rgba(18, 29, 43, 0.6);
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 1rem;
}
main .container-2 .box-grid .grid-item img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  max-width: 130px;
  max-height: 130px;
}
main .container-2 .box-container2 {
  margin-top: 4.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 4.5rem;
}
main .container-2 .box-container2 .content {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  align-items: flex-start;
}
main .container-2 .box-container2 .content .box-left {
  max-width: 496px;
}
main .container-2 .box-container2 .content .box-left h2 {
  font-size: 3rem;
  letter-spacing: -0.01em;
  line-height: 3.5rem;
  text-align: left;
}
main .container-2 .box-container2 .content .box-left p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
main .container-2 .box-container2 .content .box-left .list-item {
  counter-reset: ordered-list-counter;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: normal;
}
main .container-2 .box-container2 .content .box-left .list-item .item {
  position: relative;
  box-sizing: border-box;
  margin-left: 2rem;
}
main .container-2 .box-container2 .content .box-left .list-item .item .item-text {
  display: flex;
  flex-direction: column;
}
main .container-2 .box-container2 .content .box-left .list-item .item .item-text h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
main .container-2 .box-container2 .content .box-left .list-item .item .item-text p {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: rgba(18, 29, 43, 0.6);
}
main .container-2 .box-container2 .content .box-left .list-item .item:before {
  content: counter(ordered-list-counter);
  counter-increment: ordered-list-counter;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 1px;
  background-clip: content-box;
  background-color: #32bb78;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  margin-right: 0.75rem;
  color: white;
  position: absolute;
  left: -35px;
}
main .container-2 .box-container2 .content .box-right {
  max-width: 560px;
  overflow: hidden;
}
main .container-2 .box-container2 .content .box-right img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
main .container-2 .button button {
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(6, 26, 55, 0.039);
  border-radius: 9999px;
  color: #2f313f;
  height: 3rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: ease 0.2s;
}
main .container-2 .button button:hover {
  background-color: rgba(6, 26, 55, 0.078);
}
main .container-3 {
  background-color: #f9fafb;
  padding-bottom: 5.75rem;
  padding-top: 5.75rem;
  margin-bottom: 5.75rem;
}
main .container-3 .box-container3 {
  max-width: 1184px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-inline: auto;
}
main .container-3 .box-container3 .container3-text {
  text-align: center;
}
main .container-3 .box-container3 .container3-text h2 {
  font-size: 3rem;
  letter-spacing: -0.01em;
  line-height: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
main .container-3 .box-container3 .container3-text p {
  max-width: 944px;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-inline: auto;
}
main .container-3 .box-container3 img {
  height: auto;
  max-width: 100%;
}
main .container-3 .box-container3 .flex-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
main .container-3 .box-container3 .flex-wrapper .wrapper-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  width: 33.333333%;
}
main .container-3 .box-container3 .flex-wrapper .wrapper-item svg {
  width: 2rem;
  height: 2rem;
  color: #1d965c;
  margin-bottom: 1rem;
}
main .container-3 .box-container3 .flex-wrapper .wrapper-item .item-text {
  text-align: center;
}
main .container-3 .box-container3 .flex-wrapper .wrapper-item .item-text h5 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
main .container-3 .box-container3 .flex-wrapper .wrapper-item .item-text p {
  color: rgba(18, 29, 43, 0.6);
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}
main .container-3 .box-container3 .button {
  display: flex;
}
main .container-3 .box-container3 .button button {
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(6, 26, 55, 0.039);
  border-radius: 9999px;
  color: #2f313f;
  height: 3rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  margin-inline: auto;
  transition: ease 0.2s;
}
main .container-3 .box-container3 .button button:hover {
  background-color: rgba(6, 26, 55, 0.078);
}
main .container-4 .box-container4 {
  max-width: 1184px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-inline: auto;
  margin-bottom: 5.75rem;
}
main .container-4 .box-container4 .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  align-items: center;
  margin-inline: auto;
}
main .container-4 .box-container4 .header h2 {
  font-size: 2.5rem;
  letter-spacing: -0.01em;
  line-height: 3rem;
  font-weight: 700;
}
main .container-4 .box-container4 .header .box-right {
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  align-items: center;
  display: flex;
}
main .container-4 .box-container4 .header .box-right a {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;
}
main .container-4 .box-container4 .header .box-right a svg {
  margin-left: 10px;
}
main .container-4 .box-container4 .content-box {
  max-width: 1184px;
  flex-direction: row;
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
}
main .container-4 .box-container4 .content-box .box-item {
  flex-basis: calc(33.33333% - 8px);
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}
main .container-4 .box-container4 .content-box .box-item a {
  text-decoration: none;
  color: inherit;
}
main .container-4 .box-container4 .content-box .box-item a h5 {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
main .container-4 .box-container4 .content-box .box-item a p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
}
main .container-4 .box-container4 .content-box .box-item a .item-image {
  padding-bottom: 56.25%;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}
main .container-4 .box-container4 .content-box .box-item a .item-image img {
  border-radius: 1rem;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
main .container-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-inline: auto;
  margin-bottom: 7.5rem;
  max-width: 1184px;
}
main .container-5 h2 {
  font-size: 3rem;
  letter-spacing: -0.01em;
  line-height: 3.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

footer {
  padding-bottom: 5rem;
  position: relative;
  margin-top: 4.5rem;
}
footer .container-top {
  max-width: 1184px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: block;
  margin-inline: auto;
}
footer .container-top .top-content {
  margin-top: 3.5rem;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
}
footer .container-top .top-content .top-item {
  padding: 0 20px;
  width: 25%;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  margin-bottom: 2.25rem;
}
footer .container-top .top-content .top-item h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
footer .container-top .top-content .top-item ul {
  list-style-type: none;
}
footer .container-top .top-content .top-item ul li {
  margin-top: 16px;
}
footer .container-top .top-content .top-item ul li a {
  text-decoration: none;
  color: inherit;
}
footer .container-top .top-content .top-item ul li a:hover {
  color: #1d965c;
}
footer .container-top .top-content .top-item .logo-pl {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  background-color: #f4f4f6;
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 2rem;
  border-radius: 100px;
}
footer .container-top .top-content .top-item .logo-pl img {
  height: 20px;
  margin-right: 4px;
  max-width: 100%;
}
footer .container-top .top-content .top-item .logo-pl2 {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  background-color: #f4f4f6;
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 1.25rem;
  border-radius: 100px;
}
footer .container-top .top-content .top-item .logo-pl2 img {
  height: 20px;
  margin-right: 4px;
  max-width: 100%;
}
footer .container-bottom {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1184px;
  margin-inline: auto;
}
footer .container-bottom .box-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  align-items: center;
  border: solid;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  border-color: rgba(6, 26, 55, 0.078);
  border-top-width: 0;
}
footer .container-bottom .box-top .box-left {
  display: flex;
  gap: 1.25rem;
}
footer .container-bottom .box-top .box-left a {
  background-color: #f4f4f6;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  display: flex;
  color: inherit;
}
footer .container-bottom .box-top .box-right {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
footer .container-bottom .box-top .box-right button {
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgba(6, 26, 55, 0.039);
  border-radius: 9999px;
  color: #2f313f;
  height: 2.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  margin-inline: auto;
  transition: ease 0.2s;
}
footer .container-bottom .box-top .box-right button:hover {
  background-color: rgba(6, 26, 55, 0.078);
}
footer .container-bottom .box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container-bottom .box-bottom .box-left {
  color: #818391;
}
footer .container-bottom .box-bottom .box-right {
  color: #818391;
}
footer .container-bottom .box-bottom .box-right a {
  color: inherit;
  text-decoration: inherit;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-left: 1rem;
}
footer .container-bottom .box-bottom .box-right a:hover {
  color: #1d965c;
}/*# sourceMappingURL=HomePage.css.map */