* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
  font-feature-settings: "tnum" on, "lnum" on;
  -webkit-font-smoothing: antialiased;
  color: #2f313f;
  font-size: 16px;
  font-weight: 400;
}
.bd {
  &:after {
    background-color: initial;
    content: "";
    left: 0;
    opacity: 0;
    top: 0;
  }
}
.darker {
  height: 100vh;
  overflow: hidden !important;
  padding-right: 17px;

  &:after {
    background-color: rgba(47, 49, 63, 0.48);
    content: "";

    opacity: 1;
    position: absolute;
    transition: background-color 0.2s ease-in;
    width: 100%;
    height: 100%;
    right: 0px;
  }
}

nav {
  .nav-mobile{
    display: none;
  }
  background-color: white;
  z-index: 999;
  direction: ltr;
  position: relative;
  .nav-top {
    background-color: #f9fafb;
    .nav-content {
      padding-bottom: 12px;
      padding-top: 12px;
      justify-content: space-between;
      display: flex;
      max-width: 1184px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-inline: auto;
      .logo {
        display: flex;
        p {
          margin-left: 5px;
          font-size: 16px;
          font-weight: 700;
        }
      }
      .links {
        display: flex;
        align-items: center;
        a {
          font-weight: 700;
          line-height: 18px;
          font-size: 14px;
          margin-left: 24px;
          color: #249e64;
          text-decoration: none;
        }
        p {
          line-height: 18px;
          font-size: 14px;
          color: #747a82;
        }
      }
    }
  }
  .nav-bottom {
    display: flex;
    padding-inline: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    max-width: 1184px;
    margin-inline: auto;
    .nav-mobile-pl{
      display: none;
    }
    .logo {
      margin-top: 10px;
      margin-right: 10px;
    }
    ul {
      display: flex;
      list-style: none;
      justify-content: center;
      align-items: center;
      position: relative;

      .drop {
        position: absolute;
        background-color: #fff;
        border-radius: 0 0 12px 12px;
        z-index: 100;
        box-shadow: 0 4px 6px -1px rgb(26 27 35 / 10%),
          0 2px 4px -1px rgb(26 27 35 / 6%);
        max-height: 0px;

        width: 378px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        left: 0;
        top: 50px;
        overflow: hidden;

        a {
          .drop-item {
            line-height: 24px;
            font-size: 16px;
            padding: 12px;
            background-color: initial;
            border-radius: 8px;
            overflow: hidden;
            &:hover {
              background-color: #f4f4f6;
            }
            p:last-of-type {
              line-height: 20px;
              font-size: 14px;
              color: #747a82;
              font-weight: 400;
            }
            p:first-of-type {
              font-weight: 700;
              color: inherit;
              line-height: 24px;
              font-size: 16px;
            }
          }
        }
      }

      .active-drop {
        max-height: 800px;
        padding: 8px;
        transition: max-height 0.6s ease;
      }
      .link {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 28px;
        position: relative;
        line-height: 24px;
        font-size: 16px;
        margin-right: 8px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: #f4f4f6;
        }
        &:after {
          border: solid #a9abb9;
          border-width: 0 2px 2px 0;
          bottom: auto;
          content: "";
          padding: 4px;
          position: absolute;
          right: 11.175px;
          top: 18.345px;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          transition: all 0.5s ease-in-out;
        }
      }
      li:nth-child(4) {
        padding-right: 20px;
        margin-right: 0px;
        &:after {
          display: none;
        }
      }
      li:nth-child(3) {
        .drop {
          a {
            .drop-item {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }
      }
      .active-link {
        background-color: #f4f4f6;
        &:after {
          border: solid #a9abb9;
          border-width: 0 2px 2px 0;
          bottom: auto;
          content: "";
          padding: 4px;
          position: absolute;
          right: 11.175px;
          top: 20.345px;
          -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
          transition: all 0.5s ease-in-out;
        }
      }
    }
  }
}
main {
  .hero {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0.35) 100%
      ),
      url("/src/hero.jpg");
    width: 100%;

    min-height: 600px;
    background-size: cover;
    color: white;
    padding: 20px;

    display: flex;
    .hero-container {
      width: 1184px;
      margin-inline: auto;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      min-height: 600px;
      .hero-text {
        width: 600px;

        h1 {
          font-size: 4rem;
          line-height: 4.5rem;
          margin-bottom: 2rem;
        }
        p {
          font-size: 1.25rem;
          line-height: 1.75rem;
          margin-bottom: 2rem;
          font-weight: 500;
        }
        .hero-button {
          background-color: #32bb78;
          border: none;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          border-radius: 2rem;
          color: white;
          height: 3rem;
          font-size: 1rem;
          line-height: 1.25rem;
          font-weight: 600;
          cursor: pointer;
          transition: ease 0.15s;

          &:hover {
            background-color: #1d965c;
          }
        }
      }
    }
  }
  .container-1 {
    max-width: 1184px;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    margin-inline: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    h2 {
      font-size: 3rem;
      line-height: 3.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }

  .container-2 {
    max-width: 1184px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-inline: auto;
    h2 {
      font-size: 3rem;
      line-height: 3.5rem;
      text-align: center;
      margin-bottom: 3rem;
    }
    .box-grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      .grid-item {
        padding: 1.5rem;
        border-radius: 1rem;
        transition-duration: 0.2s;
        text-align: left;
        background-color: rgba(6, 26, 55, 0.039);
        min-height: 180px;
        position: relative;
        z-index: 50;
        overflow: hidden;
        cursor: pointer;
        transition: all ease 0.2s;
        &:hover {
          transform: scale(1.02);
        }
        .item-text {
          padding-right: 6.5rem;
          h5 {
            font-size: 1.5rem;
            line-height: 1.875rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
          }
          p {
            color: rgba(18, 29, 43, 0.6);
            line-height: 1.5rem;
            font-weight: 400;
            font-size: 1rem;
          }
        }
        img {
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 0;
          max-width: 130px;
          max-height: 130px;
        }
      }
    }
    .box-container2 {
      margin-top: 4.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-bottom: 4.5rem;
      .content {
        display: flex;
        column-gap: 5rem;
        align-items: flex-start;
        .box-left {
          max-width: 496px;
          h2 {
            font-size: 3rem;
            letter-spacing: -0.01em;
            line-height: 3.5rem;
            text-align: left;
          }
          p {
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-bottom: 2rem;
          }
          .list-item {
            counter-reset: ordered-list-counter;
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: normal;
            .item {
              position: relative;
              box-sizing: border-box;
              margin-left: 2rem;
              .item-text {
                display: flex;
                flex-direction: column;
                h5 {
                  font-size: 1.125rem;
                  line-height: 1.5rem;
                  margin-bottom: 0.5rem;
                  font-weight: 700;
                }
                p {
                  line-height: 1.5rem;
                  font-size: 1rem;
                  margin-bottom: 1rem;
                  font-weight: 400;
                  color: rgba(18, 29, 43, 0.6);
                }
              }
              &:before {
                content: counter(ordered-list-counter);
                counter-increment: ordered-list-counter;
                font-weight: 600;
                font-size: 0.75rem;
                line-height: 1rem;
                padding: 1px;
                background-clip: content-box;
                background-color: #32bb78;
                border-radius: 9999px;
                justify-content: center;
                align-items: center;
                height: 1.5rem;
                width: 1.5rem;
                display: flex;

                margin-right: 0.75rem;
                color: white;
                position: absolute;
                left: -35px;
              }
            }
          }
        }
        .box-right {
          max-width: 560px;
          overflow: hidden;

          img {
            object-position: center;
            object-fit: cover;
            border-radius: 1rem;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .button {
      button {
        border: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: rgba(6, 26, 55, 0.039);
        border-radius: 9999px;
        color: #2f313f;
        height: 3rem;
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: 600;
        cursor: pointer;
        transition: ease 0.2s;
        &:hover {
          background-color: rgba(6, 26, 55, 0.078);
        }
      }
    }
  }
  .container-3 {
    background-color: #f9fafb;
    padding-bottom: 5.75rem;
    padding-top: 5.75rem;
    margin-bottom: 5.75rem;
    .box-container3 {
      max-width: 1184px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-inline: auto;
      .container3-text {
        text-align: center;
        h2 {
          font-size: 3rem;
          letter-spacing: -0.01em;
          line-height: 3.5rem;
          font-weight: 700;
          margin-bottom: 1.5rem;
        }
        p {
          max-width: 944px;
          font-size: 1.25rem;
          line-height: 1.5rem;
          font-weight: 400;
          margin-bottom: 2rem;
          margin-inline: auto;
        }
      }
      img {
        height: auto;
        max-width: 100%;
      }

      .flex-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        .wrapper-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0;
          width: 33.333333%;
          svg {
            width: 2rem;
            height: 2rem;
            color: #1d965c;
            margin-bottom: 1rem;
          }
          .item-text {
            text-align: center;
            h5 {
              font-size: 1.5rem;
              line-height: 1.875rem;
              font-weight: 600;
              margin-bottom: 0.5rem;
            }
            p {
              color: rgba(18, 29, 43, 0.6);
              font-size: 1rem;
              line-height: 1.25rem;
              font-weight: 400;
            }
          }
        }
      }
      .button {
        display: flex;
        button {
          border: none;

          padding-left: 1.5rem;
          padding-right: 1.5rem;
          background-color: rgba(6, 26, 55, 0.039);
          border-radius: 9999px;
          color: #2f313f;
          height: 3rem;
          font-size: 1rem;
          line-height: 1.25rem;
          font-weight: 600;
          cursor: pointer;
          margin-inline: auto;
          transition: ease 0.2s;
          &:hover {
            background-color: rgba(6, 26, 55, 0.078);
          }
        }
      }
    }
  }
  .container-4 {
    .box-container4 {
      max-width: 1184px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-inline: auto;
      margin-bottom: 5.75rem;
      .button {
        display: none;
      }
      .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
        align-items: center;
        margin-inline: auto;
        h2 {
          font-size: 2.5rem;
          letter-spacing: -0.01em;
          line-height: 3rem;
          font-weight: 700;
        }
        .box-right {
          font-weight: 700;
          line-height: 24px;
          font-size: 20px;
          align-items: center;
          display: flex;
          a {
            display: flex;
            text-decoration: none;
            color: inherit;
            align-items: center;
            svg {
              margin-left: 10px;
            }
          }
        }
      }
      .content-box {
        max-width: 1184px;
        flex-direction: row;
        display: flex;
        margin-inline: auto;
        justify-content: space-between;
        .box-item {
          flex-basis: calc(33.33333% - 8px);
          overflow: hidden;
          flex-grow: 0;
          flex-shrink: 0;
          a {
            text-decoration: none;
            color: inherit;
            h5 {
              font-size: 1.5rem;
              line-height: 1.875rem;
              font-weight: 700;
              margin-bottom: 1rem;
            }
            p {
              font-weight: 400;
              font-size: 0.75rem;
              line-height: 1rem;
            }
            .item-image {
              padding-bottom: 56.25%;
              overflow: hidden;
              width: 100%;
              margin-bottom: 1rem;
              position: relative;
              img {
                border-radius: 1rem;
                object-position: center;
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
  .container-5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-inline: auto;
    margin-bottom: 7.5rem;
    max-width: 1184px;
    h2 {
      font-size: 3rem;
      letter-spacing: -0.01em;
      line-height: 3.5rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  }
}

footer {
  padding-bottom: 5rem;
  position: relative;
  margin-top: 4.5rem;

  .container-top {
    max-width: 1184px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: block;
    margin-inline: auto;

    .top-content {
      margin-top: 3.5rem;
      margin-left: -20px;
      margin-right: -20px;
      display: flex;
      .app-download{
        display: none;
      }
      .top-item {
        padding: 0 20px;
        width: 25%;
        align-items: flex-start;
        flex-direction: column;
        display: flex;
        margin-bottom: 2.25rem;
        h5 {
          font-size: 20px;
          font-weight: 700;
          line-height: 30px;
        }
        ul {
          list-style-type: none;
          li {
            margin-top: 16px;
            a {
              text-decoration: none;
              color: inherit;
              &:hover {
                color: #1d965c;
              }
            }
          }
        }
        .logo-pl {
          align-items: center;
          display: flex;
          font-size: 16px;
          font-weight: 700;
          background-color: #f4f4f6;
          align-items: center;
          cursor: pointer;
          display: flex;
          position: relative;
          padding-left: 0.75rem;
          padding-right: 0.75rem;
          padding-bottom: 0.5rem;
          padding-top: 0.5rem;
          margin-top: 2rem;
          border-radius: 100px;
          img {
            height: 20px;
            margin-right: 4px;
            max-width: 100%;
          }
        }
        .logo-pl2 {
          align-items: center;
          display: flex;
          font-size: 16px;
          font-weight: 700;
          background-color: #f4f4f6;
          align-items: center;
          cursor: pointer;
          display: flex;
          position: relative;
          padding-left: 0.75rem;
          padding-right: 0.75rem;
          padding-bottom: 0.5rem;
          padding-top: 0.5rem;
          margin-top: 1.25rem;
          border-radius: 100px;
          img {
            height: 20px;
            margin-right: 4px;
            max-width: 100%;
          }
        }
      }
    }
  }
  .container-bottom {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 1184px;
    margin-inline: auto;
    .box-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      align-items: center;
      border: solid;
      border-bottom-width: 1px;
      border-left-width: 0;
      border-right-width: 0;
      border-color: rgba(6, 26, 55, 0.078);
      border-top-width: 0;
      .box-left {
        display: flex;
        gap: 1.25rem;
        a {
          background-color: #f4f4f6;
          border-radius: 9999px;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          text-decoration: none;
          display: flex;
          color: inherit;
        }
      }
      .box-right {
        display: flex;
        column-gap: 0.75rem;
        button {
          border: none;

          padding-left: 1rem;
          padding-right: 1rem;
          background-color: rgba(6, 26, 55, 0.039);
          border-radius: 9999px;
          color: #2f313f;
          height: 2.25rem;
          font-size: 0.875rem;
          line-height: 1.25rem;

          font-weight: 600;
          cursor: pointer;
          margin-inline: auto;
          transition: ease 0.2s;
          &:hover {
            background-color: rgba(6, 26, 55, 0.078);
          }
        }
      }
    }
    .box-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .box-left {
        color: #818391;
      }
      .box-right {
        color: #818391;
        a {
          color: inherit;
          text-decoration: inherit;
          padding-bottom: 0.5rem;
          padding-top: 0.5rem;
          margin-left: 1rem;
          &:hover {
            color: #1d965c;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .darker {
    padding-right: 0;
    &:after {
      display: none;
    }
  }
  nav {
    .nav-mobile {
      padding: 12px;
      display: flex;
      align-items: center;
      
      .logo {
        margin-top: 4px;
        display: flex;
        align-items: flex-end;
      }
      .navbutton {
        cursor: pointer;
        height: 48px;
        width: 48px;
        margin-right: 24px;
        padding-left: 12px;
        padding-bottom: 12px;
        padding-right: 12px;
        padding-top: 12px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #f4f4f6;
        border-radius: 24px;
        .burger{
          height: 14px;
      position: relative;
      width: 19px;
          
          
        }
        .burger::after{
          bottom: 0;
      box-shadow: 0 -6px #2f313f;
          background-color: #2f313f;
      color: #fee7e9;
      content: "";
      height: 2px;
      position: absolute;
      transition: all .45s ease-in-out;
      width: 100%;
      
        }
       .burger::before{
          top: 0;
      -webkit-transform: rotate(0);
      transform: rotate(0);
          background-color: #2f313f;
      color: #fee7e9;
      content: "";
      height: 2px;
      position: absolute;
      transition: all .45s ease-in-out;
      width: 100%;
        }
      }
    }
    .nav-top {
      display: none;
    }
    .nav-bottom {
      .nav-mobile-pl{
        margin-top: auto;
        margin-bottom: 12px;
        position: relative;
        display: block;
        .logo-pl {
          align-items: center;
          font-size: 16px;
          font-weight: 700;
          background-color: #f4f4f6;
          align-items: center;
          cursor: pointer;
          display: inline-flex;
          position: relative;
          padding-left: 0.75rem;
          padding-right: 0.75rem;
          padding-bottom: 0.5rem;
          padding-top: 0.5rem;
          margin-top: 2rem;
          margin-bottom: 1.5rem;
          border-radius: 100px;
          img {
            height: 20px;
            margin-right: 4px;
            max-width: 100%;
          }
        }
      }
      .links{
        flex-direction: column;
        width: 100%;
        .link{
          padding-right: 40px;
          font-weight: 600;
    margin-right: 0;
    padding-left: 12px;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 100%;
    &:hover {
      background-color: white;
    }
    .active-drop{
      padding: 0;
    }
    .drop{
      display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 0;
    box-shadow: none;
    width: auto;
    top: auto;
    a{
      .drop-item{
        p{
          font-size: 16px;
          line-height: 24px;
          margin:0;
          font-weight: 400;
        }
        p:nth-child(2){
          display: none;
        }
      }
    }
    }
        }
        .active-link{
          background-color: white;
        }
      }
      .nav-content {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        .logo {
          margin-top: 4px;
          display: flex;
          align-items: flex-end;
        }
        .navbutton {
          .burger-close {
            height: 14px;
            position: relative;
            width: 19px;
            &:after {
              background-color: #2f313f;
              color: #fee7e9;
              content: "";
              height: 2px;
              position: absolute;
              transition: all 0.45s ease-in-out;
              width: 100%;
              bottom: 6px;
              box-shadow: 0 0 transparent;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
            &:before {
              background-color: #2f313f;
              color: #fee7e9;
              content: "";
              height: 2px;
              position: absolute;
              transition: all 0.45s ease-in-out;
              width: 100%;
              top: 6px;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          cursor: pointer;
          height: 48px;
          width: 48px;
          margin-right: 24px;
          padding-left: 12px;
          padding-bottom: 12px;
          padding-right: 12px;
          padding-top: 12px;
          justify-content: center;
          align-items: center;
          display: flex;
          background-color: #f4f4f6;
          border-radius: 24px;
        }
      }

      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      
    }
  }
  main {
    .hero {
      padding: 0px;
      .hero-container {
        padding-bottom: 2rem;
        padding-top: 2rem;
        min-height: 600px;
        width: 100%;
        align-items: flex-end;
        max-width: 100%;
        .hero-text {
          width: 100%;
          h1 {
            margin-bottom: 1rem;
            font-size: 2.5rem;
            line-height: 3rem;
            font-weight: 600;
          }
          p {
            margin-bottom: 1.5rem;
            line-height: 1.625rem;
            font-size: 1.125rem;
            font-weight: 400;
          }
        }
      }
    }
    .container-1 {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 3rem;
      .container {
        margin-top: 0;
        .buttons {
          justify-content: start;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          margin-bottom: 1.25rem;
          gap: 0.3rem;
          button {
            height: 2.25rem;
            font-size: 0.8rem;
            line-height: 1.25rem;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
          }
        }
        .content-tabs {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          .box-content {
            flex-direction: column;
            .content-left {
              padding-bottom: 56.25%;
              overflow: hidden;
              position: relative;
              margin-bottom: 2rem;
              img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
              }
            }
            .content-right {
              .button {
                button {
                  width: 100%;
                }
              }
              h3 {
                font-size: 1.75rem;
                line-height: 2.25rem;
                margin-bottom: 1.5rem;

                margin-top: 0;
              }
            }
          }
        }
      }
      h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: start;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
    }
    .container-2 {
      .box-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.5rem;
        .grid-item {
          width: 100%;
          height: 100%;
          padding: 1rem;
          img {
            max-width: 85px;
            max-height: 85px;
          }
          .item-text {
            flex-direction: column;
            padding-right: 0;
            padding-bottom: 3.5rem;

            h5 {
              font-size: 1.125rem;
              line-height: 1.5rem;
            }
            p {
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
          }
        }
      }
      h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: start;
        margin-bottom: 1.5rem;
      }
      .box-container2 {
        padding-inline: 0;
        margin-bottom: 3rem;
        .button {
          button {
            width: 100%;
          }
        }
        .content {
          flex-direction: column-reverse;
          .box-right {
            margin-bottom: 2rem;
          }
          .box-left {
            h2 {
              font-size: 2rem;
              line-height: 2.5rem;
              margin-bottom: 1rem;
            }
            p {
              font-size: 1rem;
              line-height: 1.5rem;
              color: rgba(18, 29, 43, 0.6);
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
    .container-3 {
      padding-bottom: 3rem;
      padding-top: 3rem;
      margin-bottom: 3rem;
      .box-container3 {
        .button {
          button {
            width: 100%;
          }
        }
        .flex-wrapper {
          flex-direction: column;
          margin-bottom: 0;
          .wrapper-item {
            flex-direction: row;
            width: 100%;
            gap: 0.75rem;
            margin-bottom: 1.5rem;
            align-items: flex-start;
            .item-text {
              h5 {
                font-size: 1.125rem;
                margin-bottom: 0.5rem !important;
                text-align: start;
                line-height: 1.4rem;
              }
              p {
                line-height: 1.5rem;
                text-align: start;
              }
            }
            svg {
              height: auto;
              width: auto;
            }
          }
        }
        .container3-text {
          h2 {
            font-size: 2rem;
            line-height: 2.5rem;
            text-align: start;
            margin-bottom: 1.5rem;
          }
          p {
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 2rem;
            text-align: start;
          }
        }
      }
    }
    .container-4 {
      .box-container4 {
        padding-inline: 0;
        margin-bottom: 3rem;
        .content-box {
          overflow-x: scroll;
          padding-inline: 1.5rem;
          gap: 0.75rem;
          scrollbar-width: none;
          scroll-snap-type: x mandatory;
          max-width: 100%;
          .box-item {
            flex-basis: calc(100vw - 84px);
            scroll-snap-stop: always;
            scroll-snap-align: center;
            overflow: hidden;
            flex-shrink: 0;
            flex-grow: 0;
            a {
              h5 {
                font-size: 1.125rem;
                line-height: 1.5rem;
                margin-bottom: 1rem;
              }
            }
          }
        }
        .content-box::-webkit-scrollbar {
          display: none;
        }
        .button {
          margin-top: 2.5rem;
          display: flex;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          button {
            border: none;
            width: 100%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            background-color: rgba(6, 26, 55, 0.039);
            border-radius: 9999px;
            color: #2f313f;
            height: 3rem;
            font-size: 1rem;
            line-height: 1.25rem;
            font-weight: 600;
            cursor: pointer;
            margin-inline: auto;
            transition: ease 0.2s;
            &:hover {
              background-color: rgba(6, 26, 55, 0.078);
            }
          }
        }
        .header {
          margin-bottom: 1.5rem;
          h2 {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            font-size: 2rem;
            line-height: 2.5rem;
          }
          .box-right {
            display: none;
          }
        }
      }
    }
    .container-5 {
      padding-top: 3rem;
      background-color: #32bb78;
      margin-bottom: 2rem;
      h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        color: white;
      }
      .container2 {
        .buttons {
          display: flex;
          list-style: none;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          margin-bottom: 2.25rem;
        }
        .buttons li button {
          border: white solid 2px;
          background-color: transparent;
          padding-left: 1rem;
          padding-right: 1rem;
          border-radius: 2rem;
          color: white;
          height: 2.25rem;
          font-size: 0.875rem;
          line-height: 1.25rem;
          font-weight: 300;
          cursor: pointer;
          transition: ease 0.15s;
        }
        .buttons li button:hover {
          background-color: white;
        }

        .buttons li .active-button {
          background: white;
          color: #2f313f;
          &:hover {
            background: white;
            color: #2f313f;
          }
        }
        .content-tabs {
          .box-content2 {
            display: none;
          }
        }
        .content-tabs2 {
          .box-content3 {
            display: flex;
          }
        }
      }
    }
  }
  footer {
    padding-bottom: 2.5rem;

    .container-bottom {
      .box-top {
        justify-content: center;
        border-top-width: 1px;
        border-bottom-width: 0;
        margin-bottom: 0;
        .box-right {
          display: none;
        }
      }
      .box-bottom {
        flex-direction: column;
        .box-left {
          margin-bottom: 2.5rem;
        }
        .box-right {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .container-top {
      .top-content {
        margin-top: 2.5rem;
        flex-direction: column;
        .app-download {
          display: block;
          padding-inline: 1rem;
          margin-bottom: 2.5rem;
          p {
            margin-bottom: 1em;
            margin-top: 1em;
            color: #818391;
          }
          .appstore {
            img {
              width: 160px;
            }
          }
        }
        .top-item {
          width: 100%;
        }
      }
    }
  }
}
